@font-face {
    font-family: 'Ropa Sans';
    src: url(/fonts/RopaSans-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Ropa Sans Italic';
    src: url(/fonts/RopaSans-Italic.ttf);
    font-weight: 400;
}

div#my-top-bar {
  background-color: #e4e4e4;
  color: #4a4a4a;
  padding: 0;
  margin: 10px 0 10px 0px;
}

div#my-top-bar ul {
  background-color: #e4e4e4;
}

div#my-top-bar a {
  font-family: 'Ropa Sans', Raleway, "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: #4a4a4a;
}

div#my-top-bar a.active {
  color: #4a4a4a;
}

.title-bar {
  background-color: #efefef;
  color: #EFAC41;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ropa Sans', Raleway, "Open Sans", Arial, sans-serif;
  color: #4a4a4a;
}

body {
    background-color: #e4e4e4;
}

div.main {
  background-color: #fbfbfb;
}
